*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
    color:#1e293b;
}

.container-fluid{
    padding:25px 35px;
}

.card{
    border:none !important;
    border-radius:15px !important;
    box-shadow:0 10px 30px rgba(0,0,0,.08) !important;
}

.table{
    margin-bottom:0;
}

.table thead{
    background:#2563eb;
    color:white;
}

.table thead th{
    padding:18px;
    border:none;
    font-size:15px;
}

.table tbody td{
    padding:18px;
    vertical-align:middle;
}

.table tbody tr:hover{
    background:#eef5ff;
    transition:.3s;
}

.badge{
    padding:8px 15px;
    border-radius:30px;
    font-size:13px;
}

.btn{
    border-radius:8px;
}

.form-control,
.form-select{
    height:48px;
    border-radius:10px;
}

.navbar{
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}